#about-container{
    background-color: #2F3D14;
    display: flex;
   justify-content: space-evenly;
    padding: 30px 10px 30px 20px;
    margin-top:30px;
    color: #F5F7F2;
    font-size: 14px;
    border-bottom: 2px solid #3E4F1E;
    flex-wrap: wrap;
}
.about-us{
    padding: 10px;
}
.about-us ul{
    list-style: none;
    padding: 0;
}

.help{
    padding: 10px;
}
.help ul{
    padding: 0;
    list-style: none;
}
#devider{
    margin: 8px;
    height: 100px;
    width: 1px;
    background-color: #a6a6a6;
}
.help ul li a{
    text-decoration: none;
    color: #C9D6A3;
}
#address{
    padding: 10px;
}