#cat-container{
  
  
    padding: 10px;
}

#cat{
  
    width: 100%;
    
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.cat-card{
    aspect-ratio: 1/1;
    cursor: pointer;
   margin: 5px;
   text-align: center;
    /* background-color: #333; */
     width:120px;
}
.cat-card img{
    width: 100%;
      display: block;
    padding: 0;
      object-fit: cover;      
 
  display: block;
}
@media (max-width:480px) {
  .cat-card{
   height: 140px;
  }
  #cat{
    /* background-color: #dfdfdf; */
    flex-wrap: nowrap;
    overflow-x: auto;
    scrollbar-width: none;
    /* border-radius: 10px; */
  }
  #cat::-webkit-scrollbar{
    width: 0;
  }
  
}