#deals-container{
    padding: 10px;
    display: flex;
    justify-content: center;
    width: 100%;
    /* flex: 1 1 auto; */
    gap:10px;
    

 
}
.deal-box{ 
     width: 100%;
    display: flex;
     /* flex: 1 1 auto;  */
    min-width:0;
    max-width: 440px;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
   
}

.deal-img{
    border: 1px solid #ececec;
    border-radius: 4px;
    cursor: pointer;
     flex: 1 1 160px;
    min-width: 0;
    max-width: 200px;
    max-height: 310px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}

.product-img{
    min-width: none;
    max-width: 180px;
    max-height: 240px;
    overflow: hidden; 
    display: flex;
 
   
    align-items: center;
    justify-content: center;

}
.product-img img{
    width: 100%;
     object-fit: cover;
     display: block;
}
@media (max-width: 690px){
    #deals-container{
        align-items: center;
   flex-direction: column;

 
}
}