#bottom-header{
    background-color: #F1E9DC;

     position: fixed;
  bottom: 0;
  height: 65px;
  width: 100%;
 z-index: 999;
place-content: center;

  box-shadow: 0 -2px 12px rgba(0, 0, 0, 0.25);
}


#bottom-bar{
 
  /* position: fixed; */
     /* border: 2px solid #333; */
   height: 100%;
    margin: 0 auto;
    display: flex;
   min-width: 0;
    width: fit-content;
    max-width: 640px;
  
    flex-wrap: wrap;
}
#bottom-bar button{
    height: 100%;
    /* height: 50px; */
    display: inline-block;
    padding: 20px;
    border: none;
    /* background-color: #fff; */
    /* background: none; */
   /* flex: 1; */
    /* border: 1 px solid #333; */
    transition: all 0.3s ease;
    min-width: 0;
}

.link-btn{
  padding: 20px;
   background-color: #fff;
   flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
   img{
 width: 24px;
}

}

.link-btn:hover{
    background-color: #efefef;
}
@media (max-width: 480px) {

    #bottom-bar{
      
     text-align: center;
    width: 100%;
   
}
    
}